* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #03131b;
}
h2 {
    color: #e8ece6;
}

p {
   color:#9aa5a1;
  
}
.cta {
    color: #a3a64a;
    background-color: transparent;
    padding: 10px 22px;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 20px;
}
.cta:hover {
    color: #e8ece6;
    background-color: #8c8f3c;
}

.btn {
     color: #e8ece6;
   background-color: #8c8f3c;
    padding: 10px 22px;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 20px;
}
.btn:hover {
  opacity: 0.5;
}
/* Navigation Section */
.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e2f2a;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 10vh;
}
.nav-links {
    display: flex;
    flex-direction: column;
     position: fixed;
     right: -200px;
     background-color: #1e2f2a;
     min-height: 350px;
     width: 150px;
     top: 0;
     z-index: 2;
     transition: 1s;
     border-radius: 5px;
}
#closeMenu {
    color:white;
    display: block;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 20px;
}
#openMenu {
    color:white;
    display: block;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 20;
    font-size: 20px;
}
.nav-links ul {
    margin-top: 8px;
}
.nav-links ul, li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
   
}
.nav-links li a {
     color: white;
     text-decoration: none;
}
.nav-links li a:hover {
    text-decoration: underline;
    color:#8c8f3c;
}
.nav-links button {
    font-size: 12px;
}
/*End Navigation Section */


/* Hero Section */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
     height: 45vh;
    background:rgba(0, 0, 0, 0.5) url(./Images/cover.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
   
}
.hero-container h2 {
    font-size: 3rem;
     margin-inline: 1rem;
}
.hero-container p {
    margin-inline: 1rem;
     font-size: 1.5rem;
}
/*End Hero Section */

/* Wildlife Section */
.wild-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
}
.text-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
     margin-inline: 1rem;
}
.wild-container div img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/*End Wildlife Section */


/* Safari Section */
.safari-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}
.safari-container h2, p {
     margin-inline: 1rem;
}
.all-container {
    display: flex;
    flex-direction: column;  
     margin-inline: 1rem; 
     margin-top: 1rem;
}
.img img{
    width: 100%;
    height: auto;
}
/*End Safari Section */


/* Accommodation Section */
.accommodation-c {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
}
.scroll-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    padding:1rem;
    width: 100%;
}
.scroll-container img {
    width: 300px;
    height: 200px;
    /* flex-shrink: 0; */
    border-radius: 10px;
    object-fit: cover;
}
/* .scroll-container::-webkit-scrollbar {
    display: none;
} */
/*End Accommodation Section */

/* Footer Section */
.footer-container {
     display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e2f2a;
    flex-direction: column;
    margin-top: 2rem;
    height: 20vh;
}
.footer-container p {
    text-align: center;
    font-size: 1.2rem;
}
/*End Footer Section */


/* About Section */
.about-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-top: 8rem;
}
.about-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 1.7rem;
    background:rgba(0, 0, 0, 0.5) url(Images/lion.jpg);
    background-blend-mode: darken;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 100%;

}
.about-text h2 {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.5rem;
}
.description {
    text-align: center;
}
.description h4 {
    color: white;
    padding-top: 1rem;
    font-size: 2rem;
}
.description p{
    text-align: center;
     color:#9aa5a1;
     font-size: 1.2rem;
     margin-bottom: 1.2rem;
}
.about-text p {
    font-size: 1.5rem;
    text-decoration: underline #8c8f3c;

}
.about-img img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.about-img {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.about-img button {
    margin-top: 5px;
    margin-bottom: 1rem;
}
/*End About Section */


/* Safari Section */
.safaris{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.5) url(Images/girf.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 50vh;
    margin-top: 5rem;
}
.safaris-container h2 {
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
}
.safaris-container p {
    text-align: center;
    font-size: 1.2rem;
}
.we-offer {
    display: grid;
    grid-template-columns: 1fr;
}

.we-offer div img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}
/*End Safari Section */


/* Contact Section */
.contact-container{
    display: flex;
    flex-direction: column;
     margin-top: 3rem;
}
.top-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background:rgba(0, 0, 0, 0.5) url(Images/zbr.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
.top-contact h2 {
    font-size: 2.9rem;
    padding-top: 2rem;
}
.top-contact h4 {
    color: white;
    font-size: 2rem;
    text-align: center;
}
.top-contact p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.middle-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.middle-contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.middle-contact div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin-bottom: 1.9rem;
}
.middle-contact i {
    background-color: rgb(140, 143, 60);
    padding: 1rem;
    font-size: 2rem;
    border-radius: 2rem;
}
.middle-contact div p {
    text-decoration: underline double;
}
.end-contact {
    display: flex;
    align-items: start;
    justify-content: center;
   background-color: #2e373b;
    margin-inline: 2rem;
    padding: 1rem;
    border-radius: 10px;
}
.end-contact h2 {
    color: white;
}
.info-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.icon-bu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.message {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.9rem;
    gap: 1rem;
    padding-bottom: 1rem;
}
/*End Contact Section */


/* Booking Section */
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background:rgba(0, 0, 0, 0.5) url(Images/uhakika.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    margin-top: 5rem;
}
.book h2 {
    font-size: 3rem;
    padding-top: 1rem;
}
.book p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 224, 224, 0.3);
    padding: 1rem;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    gap: 1rem;
    width: 400px;
}
.form h4 {
    font-size: 2rem;
    color: #8c8f3c;
}
.form div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form div input,
select,
textarea {
    padding: 8px 5px;
    border-radius: 5px;
    background-color: #1e2f2a;
    border: 1px solid #1e2f2a;
    color: white;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    font-size: 15px;
}
.form div label {
    color: white;
    padding-bottom: 0.5;
}
textarea {
    text-align: center;
    padding-top: 1rem;
}
/* .form div select option {
    background-color: #1e2f2a;
} */
.unyama {
    background-color: #1e2f2a;
    color: #fff;
}

/*End Booking Section */